<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Tarix sari </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
        
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bg' %}">Cosmos</a>
                </li>
    
             
                </div>
                <form action="{% url 'home' %}" method="get">
                <div class="search-container">
                    <input type="search" name='q' placeholder="Search..."  value="{{ request.GET.q }}" class="search-input">
                   
                        <span class="input-group-btn">
                            <button style="border-radius: 30px;background-color: black;color: aliceblue;" class="search-btn" type="submit"> <i class="fas fa-search"></i>   </button>
                        </span>
                              
                   

   

                    
            </ul>
        </div>
    </div>
</nav>