{% extends "base.html" %}
{% load static %}
{% block games %}
<br><br><br><br><br>
<body style="background-color: rgb(196, 255, 246);">
    
<div class="container">
    <div class="card">
      <div class="card-header">
        <img style="width: 1060px;" src="{% static 'images/211.png' %}" alt="rover" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Game</span>
        <h6>
          You Must Build a Lighthouse.
        </h6>
      
 <center>
  <style>
    .b{
      width: 250px;
      background-color:rgb(4, 247, 255);
    }
    .b:hover{
      background-color: chartreuse;
    }
  </style>
    <a class="b" href="{% url 'g1' %}"><button class="b">START</button></a>
 </center>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <div class="card-header">
        <img style="width: 1060px;" src="{% static 'images/111.jpg' %}" alt="rover" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">NES DUCK HUNT GAME</span>
        <h6>
          This is a remake of the classic NES game duck hunt in CSS, it is made up entirely of HTML and CSS, no images are used.
        </h6>
      
 <center>
  <style>
    .b{
      width: 250px;
      background-color:rgb(4, 247, 255);
    }
    .b:hover{
      background-color: chartreuse;
    }
  </style>
    <a class="b" href="{% url 'g3' %}"><button class="b">START</button></a>
 </center>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <div class="card-header">
        <img style="width: 1060px;" src="{% static 'images/311.png' %}" alt="rover" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Game</span>
        <h6>
         Tic Tac Toe
        </h6>
      
 <center>
  <style>
    .b{
      width: 250px;
      background-color:rgb(4, 247, 255);
    }
    .b:hover{
      background-color: chartreuse;
    }
  </style>
    <a class="b" href="{% url 'g2' %}"><button class="b">START</button></a>
 </center>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <div class="card-header">
        <img style="width: 1060px;" src="{% static 'images/112.jpg' %}" alt="rover" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">PLANKMAN</span>
        <h6>
          Plankman is a pirate-themed version of the classic hangman game. It is developed using HTML and CSS without a single line of code.
        </h6>
      
 <center>
  <style>
    .b{
      width: 250px;
      background-color:rgb(4, 247, 255);
    }
    .b:hover{
      background-color: chartreuse;
    }
  </style>
    <a class="b" href="{% url 'g4' %}"><button class="b">START</button></a>
 </center>
      </div>

    </div>
    <br><br><br>
    <div class="card">
      <div class="card-header">
        <img style="width: 1060px;" src="{% static 'images/11111.jpg' %}" alt="rover" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">CSS ROCK-PAPER-SCISSORS</span>
        <h6>
          A Rock-Paper-Scissor game developed in HTML+CSS without any JavaScript.
        </h6>
      
 <center>
  <style>
    .b{
      width: 250px;
      background-color:rgb(4, 247, 255);
    }
    .b:hover{
      background-color: chartreuse;
    }
  </style>
    <a class="b" href="{% url 'g5' %}"><button class="b">START</button></a>
 </center>
      </div>
      </div>
      <br><br><br>
      <div class="card">
        <div class="card-header">
          <img style="width: 1060px;" src="{% static 'images/fed.jpg' %}" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">GAME</span>
          <h6>
            PURE CSS CARNIVAL GAME
          </h6>
        
   <center>
    <style>
      .b{
        width: 250px;
        background-color:rgb(4, 247, 255);
      }
      .b:hover{
        background-color: chartreuse;
      }
    </style>
      <a class="b" href="{% url 'g6' %}"><button class="b">START</button></a>
   </center>
        </div>
        </div>
</body>
{% endblock games %}
    